<h1>New Upload</h1>

<%= form_for [:admin, Upload.new], html: { id: "fileupload" } do |f| %>
  <%= f.file_field :upload, multiple: true, name: "upload[upload]" %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress progress-striped"><div class="progress-bar bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div></div>
  </div>
</script>